.Wrapper {
  width: 100%;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
}
.WrapperBox {
  width: 250px;
  min-height: calc(100vh - 50px);
  box-shadow: 0 0 0.1rem rgba(129, 129, 129, 0.5);
  display: flex;
  flex-direction: column;
}
.SatzRegelnPage {
  width: calc(100% - 250px);
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ImFilesEmpty {
  color: rgb(0, 35, 37, 0.5);
}
.Du {
  font-family: CL;
  color: rgb(0, 35, 37, 0.5);
  width: 150px;
  margin-top: 5px;
  text-align: left;
  font-size: 0.85rem;
  line-height: 15px;
  margin-left: 8px;
  margin-top: -2px;
}
