body {
  margin: 0;
  cursor: default;
  font-family: C;
}
@font-face {
  font-family: "C";
  src: url("../fonts/calibri.ttf") format("truetype");
}
@font-face {
  font-family: "CB";
  src: url("../fonts/calibrib.ttf") format("truetype");
}
@font-face {
  font-family: "CI";
  src: url("../fonts/calibrii.ttf") format("truetype");
}
@font-face {
  font-family: "CL";
  src: url("../fonts/calibril.ttf") format("truetype");
}
@font-face {
  font-family: "CLI";
  src: url("../fonts/calibrili.ttf") format("truetype");
}
@font-face {
  font-family: "CZ";
  src: url("../fonts/calibriz.ttf") format("truetype");
}
@font-face {
  font-family: "P";
  src: url("../fonts/P.ttf") format("truetype");
}
@font-face {
  font-family: "N";
  src: url("../fonts/N.ttf") format("truetype");
}
@font-face {
  font-family: "A";
  src: url("../fonts/A.otf") format("truetype");
}
@font-face {
  font-family: "B";
  src: url("../fonts/B.ttf") format("truetype");
}
@font-face {
  font-family: "LM";
  src: url("../fonts/LM.ttf") format("truetype");
}
.AUL {
  position: relative;
  cursor: pointer;
  color: rgb(0, 0, 0);
  margin-left: 30px;
  margin-top: 3px;
  text-decoration: none;
}
.AUL:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  top: 25px;
  background-color: #4edfab;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
  border-radius: 3px;
}
.AUL:hover::after {
  transform: scaleX(1);
  background-color: #4edfab;
  transform-origin: bottom left;
}
.AUL2 {
  position: relative;
  cursor: pointer;
  color: rgb(0, 0, 0);
  margin-left: 30px;
  margin-top: 3px;
  text-decoration: none;
}
.AUL2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  top: 25px;
  background-color: #10ff9f;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
  border-radius: 3px;
}
.AUL2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.Wrapper {
  position: fixed;
  width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.Left {
  width: 250px;
  height: calc(100vh - 70px);
  border-right: 1px solid rgba(240, 240, 240);
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}
.Left::-webkit-scrollbar {
  display: none;
}
.Right {
  width: calc(100% - 250px);
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}
.Logo {
  width: 70px;
  min-height: auto;
  margin-left: 50px;
  margin-right: 8px;
}
