.Wrapper {
  width: 100%;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
}
.WrapperBox {
  width: 180px;
  min-height: calc(100vh - 50px);
  box-shadow: 0 0 0.1rem rgba(129, 129, 129, 0.5);
  display: flex;
  flex-direction: column;
}
