.menu {
  display: flex;
  gap: 8px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.menu button {
  padding: 4px 10px;
  cursor: pointer;
}
.editor {
  padding-left:12px;
  padding-right:12px;
  min-height: 200px;
  text-align: right;
  outline: none;
  border:none;
}
.editor:focus-visible {
  outline: none;
}
.editor .ProseMirror {
  outline: none;
}
.editor .ProseMirror p {
  line-height: 5px;
}
.editor :global(h2) {
  font-size: 20px;
  margin: 16px 0;
}
.editor :global(ul) {
  padding-left: 20px;
}
